// body {
//     max-width: 1280px;
//     margin: 0 auto;
//     padding: 0;
//     box-sizing: border-box;
// }
body{
    min-width: 23.4375rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    color: var(--joy-palette-text-secondary, var(--joy-palette-neutral-700, #32383E));
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-size: var(--joy-fontSize-md, 1rem);
    line-height: var(--joy-lineHeight-md, 1.5);
    background-color: var(--joy-palette-background-body);
}

